button {
  width: 100px;
  height: 100px;
}
.square {
  background: #444;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-size: 2rem;
}
.blank {
  background: #ccc;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 2rem;
}
